p {
  color: red;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  line-height: normal; /*La distancia que hay entre líneas*/
  letter-spacing: 2px; /*Separación entre caracteres*/
}

span {
  text-decoration: none;
  color: brown;
}
a {
  text-decoration: none;
}
